.container{
    background-image: url(https://www.mastercardservices.com/sites/default/files/inline-images/graphics_large-02_0.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
